.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    
    
}

.config-poste{
    display: none;
}

.config-etape{
    display: none;
}

.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.super-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}